* ,*::before , *::after
{
	box-sizing:border-box;
	font-family: sans-serif;
	font-weight: normal;
}

body
{
	padding: 0;
	margin: 0;
	background: linear-gradient( red ,#00FF6C);
}

.Calculator-grid
{
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 100vh; 
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px,auto) repeat(5, 100px);
}

.Calculator-grid > button 
{
	cursor: pointer;
	font-size: 2rem;
	border:1px solid white;
	outline: none;
	background-color: red;
}

.Calculator-grid > button:hover 
{
	background-color: #00FF6C;
}

.span-two
{
	grid-column: span 2;
}

.output
{
	grid-column: 1 / -1;
	background-color: grey;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	flex-direction: column;
	padding: 10px;
}
.output .previous-operand 
{
	color: white;
	font-size: 1.5rem;
}

.output .current-operand 
{
	color: white;
	font-size: 1.5rem;
}